<div id="common-nav">
	<div class="row">
	   <div class="col-xs-4 active">
	   		<dl>
	   			<dt>
	   				<span class="glyphicon glyphicon-home"></span>
	   			</dt>
	   			<dd>首页</dd>
	   		</dl>
	   </div>
	   <div class="col-xs-4">
	   		<dl>
	   			<dt>
	   				<span class="glyphicon glyphicon-shopping-cart"></span>
	   			</dt>
	   			<dd>购物车</dd>
	   		</dl>
	   </div>
	    <div class="col-xs-4">
	   		<dl>
	   			<dt>
	   				<span class="glyphicon glyphicon-user"></span>
	   			</dt>
	   			<dd>购物车</dd>
	   		</dl>
	   </div>
	</div>
</div>