@media all and (max-width:1800px){
	body {
		width: 500px;
		margin: 0 auto;
	}
	#common-nav {
		width: 400px;
	}
}
@media all and (max-width:500px) {
	body {
		width: 100%;
	}
	#common-nav {
		width: 100%;
		left: 0;
	}
}
body {
	font-family: "黑体";
}
input {
	outline: none;
}
#index-head {
	height: 45px;
	background-color: #24dfc2;
	width: 100%;
	padding: 10px 10px 0 10px;
}
#index-head .glyphicon {
	font-size: 21px;
	color: rgba(245,245,245,.8);
}
#index-head .col-xs-8 {
	font-size: 18px;
	/*margin: 1px 10px 0 65px;*/
	font-family: "黑体";
	color: rgba(248,248,248,.9);
	font-weight: 100;
	text-align: center;
	margin-top: 3px;
}
/*#index-head span:last-child {
	margin-right: 10px;
}*/
#slide-wrapper .carousel-inner img {
	width: 100%;
	height: auto;
}
#index-nav-part {
	width: 100%;
}
#index-nav-part .row {
	margin:20px 0;
}
#index-nav-part .row dd {
	font-family: "黑体";
	font-size: 6px;
	width: 58px;
	margin-top: 3px;
	text-align: center;
}
#index-nav-part .row img {
	width: 43px;
	/*height: auto;*/
	height: 43px;
}
#index-hot-sale {
	width: 100%;
	padding-bottom: 58px;
	/*overflow: scroll;*/
}
#index-hot-sale img {
	width: 100%;
	height: auto;
}
#common-nav {
	background: #fff;
	font-family: "黑体";
	position: fixed;
	bottom: 0;
	padding: 8px 0;
	/*padding-top: 8px;*/
	font-size: 15px;
	border-top: 1px solid #bbb;
}
#common-nav .row > div.active {
	color: #24dfc2;
}
#common-nav .col-xs-4 {
	text-align: center;
}
.head-top {
	height: 43px;
	text-align: center;
	font-size: 18px;
	padding: 13px 10px 0 10px;
	font-family: "黑体";
}

/*personhomepage*/
#homepage-head .head-top {
	color: #fff;
	background: #24dfc2;
	border: none;
}
.head-bottom {
	background: #24dfc2;
	border: none;
	text-align: center;
	padding: 15px 0;
	color: #fff;
	font-size: 20px;
	font-family: "黑体";
}
.head-bottom img {
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
}
#homepage-nav .col-xs-3 {
	text-align: center;
	padding: 28px 0;
	font-family: "黑体";
	border-bottom: 1px solid rgb(245,245,245);
}
#homepage-nav + #common-nav dl {
	margin-bottom: 20px;
}
#homepage-nav .col-xs-3 dt img {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

/*login*/
#login-head {
	margin-bottom: 10px;
}
#login-head .head-bottom img {
	width: 100px;
}
.user-info-input {
	width: 100%;
	border-top: 1px solid rgb(246,246,246);
	border-bottom: 1px solid rgb(246,246,246);
	height: 40px;
	padding: 0 16px;
	margin: 10px 0;
}
.user-info-input .spliter {
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	border-left-color: #ccc; ;
}
.user-info-input input[type='text'] {
	height: 38px;
	padding-left: 10px;
	width: 86%;
	font-size: 14px;
	font-family: "黑体";
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	border: none;
}
#login-input .user-info-input .glyphicon {
	color: #24dfc2;
	font-size: 17px;
	width: 9%;
	text-align: right;
	padding-right: 5px;
}
#quitlog-button,
#login-button,
#check-button {
	width: 88%;
	margin: 20px auto;
	margin-bottom: 15px;
	display: block;
	height: 40px;
	color: #fff;
	background-color: #ff573a;
	border: none;
	font-family: "黑体";
	font-size: 17px;
	border-radius: 3px;
	outline: none;
}
#login-button-bottom {
	font-family: "黑体";
	padding: 0 11px;
}
#login-button-bottom input[type='checkbox'] {
	vertical-align: sub;
	color:  #ff573a;
}
#login-button-bottom a{
	color: #ff573a;
}
#login-button-bottom > span:last-child a {
	text-decoration: underline;
}

/*userinfo*/
#userinfo-body .user-info-input {
	padding: 10px 8px 0 8px;
}
.user-info-input .fl {
	font-size: 16px;
}
.user-info-input .fr {
	font-size: 14px;
}

/*settings*/
#settings-head {
	border-bottom: 1px solid #eee;
}

/*aboutus*/
#aboutfu-head-bottom img {
	width: 100%;
	height: auto;
}
.head-title {
	margin-top: 4px;
	margin-left: -20px;
	display: inline-block;
}
#about-foru-body {
	padding: 5px;
	font-size: 14px;
}

/*selectcompus*/

#selectcampus-body-search {
	background: #24dfc2;
	padding: 8px;
}
#selectcampus-body-search > div {
	width: 100%;
	background: #61efdf;
}
#selectcampus-body-search span.glyphicon {
	width: 35%;
	text-align: right;
}
#selectcampus-body-search input {
	height: 25px;
	border-radius: 3px;
	width: 62%;
	background: #61efdf;
	border: none;
}
#city-nav {
	float: left;
	width: 25%;
	text-align: center;
	font-size: 16px;
	overflow: scroll;
}
#city-campus-nav {
	margin-top: 8px;
	padding-bottom: 58px;
}
#city-campus-nav li {
	width: 100%;
	height: 40px;
}
#city-campus-nav li a {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-top: 9px;
}
#city-campus-nav li.active {
	background: #24dfc2;
}
#city-campus-nav li.active a {
	color: #fff;
}
#city-campus-nav li a:active {
	text-decoration: none;
}
#campus-nav {
	float: left;
	width: 75%;
	background: rgb(249,249,249);
	font-size: 15px;
	padding-left: 2px;
	/*text-align: center;*/
}
#campus-nav li a {
	padding-left: 15px;
}

/*shoppingcart*/
#shoppingcart-head {
	border-bottom: 1px solid rgba(250,250,250,.9);
}
.shopcart-goods-list {
	width: 100%;
	border-top: 1px solid rgb(248,248,248);
	border-bottom: 1px solid rgb(248,248,248);
	padding: 8px 0;
	margin: 8px 0;
}
.shopcart-goods-list:first-child {
	border-top: none;
}
.shopcart-goods-list:last-child {
	border-bottom: none;
}
#shoppingcart-body {
	padding-bottom: 158px;
}
/*.shopping-cart-body input[type='checkbox'] {
	border-radius:5px; 
}*/
.roundedTwo {
  width: 18px;
  height: 18px;
  position: relative;
  margin: 20px auto;
  background: red;
  /*background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
 /* -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
}
.roundedTwo label {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background: red;
 /* background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);*/
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.roundedTwo label:after {
	content: '';
	width: 9px;
	height: 5px;
	position: absolute;
	top: 5px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.roundedTwo input[type=checkbox] {
  	visibility: hidden;
}
.roundedTwo input[type=checkbox]:checked + label:after {
  	opacity: 1;
}
.shopcart-goods-list > div {
	float: left;
}
.shopcart-goods-list .check {
	padding-left:5px;
	width: 8%;
	padding-top: 30px;
}
.goods-img {
	width: 25%;
	padding-top: 5px;
}
.goods-img img {
	width: 95%;
	height: auto;
}
.shopcart-goods-info {
	width: 65%;
	padding-left: 5px;
}
.shopcart-goods-info > h1 {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 7px;
}
.shopcart-goods-info > p {
	color: #999;
}
.spc-goods-info-detaild {
	margin-top: 10px;
}
.discount-price {
	font-size: 18px;
	color: #fe7a63;
	margin-right: 8px;
	padding-top: 2px;
}
.bef-price {
	text-decoration: line-through;
	font-size: 12px;
	color: #999;
	margin-right: 6px;
	padding-top: 5px;
}
a.sub-goods,
a.add-goods {
	width: 22px;
	height: 22px;
	border: 1px solid #aaa;
	/* border-radius: 4px; */
	display: inline-block;
	color: #24dfc2;
	text-align: center;
	font-size: 16px;
	float: left;
	cursor: context-menu;
}
a.sub-goods {
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
	border-right: none;
	padding-top: 1px;
}
a.add-goods {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-left: none;
}
a.sub-goods:hover,
a.add-goods:hover {
	text-decoration: none;
} 
input.goods-count {
	width: 26px;
	height: 22px;
	color: #aaa;
	float: left;
	text-align: center;
	font-size: 10px;
	outline: none;
	background: #fff;
	border: 1px solid #aaa;
}
.img-and-detailed-body .eval-star {
	margin-top: 2px;
}
.eval-star {
	font-size: 16px;
}
.eval-star:before {
	color: #ddd;
}
.eval-star-negtive:before {
	color: #ddd;
}
.eval-star-positive:before {
	color: #FF573A;
}
#settle-accounts {
	position: fixed;
	left: 0;
	bottom: 58px;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	background: #fff;
	font-family: "黑体";
	color: #FF573A;
}
#settle-accounts  > span > span {
	color: #ccc;
	text-decoration: line-through;
}
#settle-accounts label {
	font-size: 14px;
	font-family: "黑体";
	margin-left: -3px;
	margin-right: 3px;
}
#check-all {
	margin-left: 10px;
}
#check-button {
	margin-top: 10px;
}

#shopping-cart-empty {
	background: rgb(250,250,250);
	width: 100%;
	/*height: 100%;*/
	height: 450px;
	text-align: center;
	padding-top: 120px;
}
#shopping-cart-empty h1 {
	font-size: 16px;
	margin: 10px 0;
}
#shopping-cart-empty h2 {
	font-size: 13px;
	color: #bbb;
}
#shopping-cart-empty button {
	width: 80px;
	height: 30px;
	background: #fff;
	color: #999;
	border: 2px solid #ccc;
	border-radius: 4px;
	margin: 10px 0;
}

/*order-confirm*/
#order-confirm-time {
	width: 100%;
	height: 200px;
	position: fixed;
	left: 0;
	bottom: 0;
	background: rgb(252,252,252);
	padding-top: 10px;
	border-top: 1px solid rgb(246,246,246);
}
#order-confirm-time-top {
	font-size: 15px;
	padding: 2px 15px;
}
#order-confirm-time-top span.fr {
	color: #fd725b;
}
#order-time-list {
	width: 100%;
	margin-top: 10px;
}
#order-time-list li {
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	border-right: 1px solid rgba(248,248,248,.9);
	border-left: 1px solid rgba(248,248,248,.9);
	color: #eee;
}
.hour-list {
	width: 50%;
	float: left;
}
.minute-list {
	width: 50%;
	float: left;
}
#order-time-list li.active {
	background:#fff;
	color: #fd725b;
	height: 35px;
	border-left: 5px solid #fd725b;
	font-weight: bold;
	font-size: 16px;
}
#order-time-list li.sub-active {
	color: #bbb;
	border-left: 1px solid #eee;
}
#order-time-list .minute-list li.active {
	border-left: 1px solid #ddd;
}

/*ordermange*/
.nav-top {
	width: 100%;
	border-top:1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top:4px;
}
.nav-top li {
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
}
.nav-top li.active a {
	color: #fe8675;
	border-bottom: 2px solid #fe8675;
}
.nav-top li a {
	width: 80%;
	margin: 0 auto;
	height: 100%;
	text-decoration: none;
	font-size:14px;
	display: inline-block;
}
.badge-count {
	border-radius: 50px;
	color: #fff;
	vertical-align: top;
}
.nav-top .badge-count {
	background: #fe8675;
}
#ordermanage-body {
	margin-top: 10px;
	padding-bottom: 50px;
}
#ordermanage-body tr {
	border-bottom: 1px solid rgb(248,248,248);
}
#ordermanage-body li {
	width: 100%;
	border-top: 1px solid #eee;
	/*border-bottom: 1px solid #eee;*/
	/*margin-top: 8px;*/
}
tr.goods-info-top {
	height: 25px;
}
tr.goods-info-top td {
	padding: 0 5px;
}
tr.goods-info {
	/*border-top: 1px solid rgb(250,250,250);
	border-bottom: 1px solid rgb(250,250,250);*/
	padding: 5px 4px 0 2px;
}
tr.goods-info .col-2 {
	padding: 5px 0 5px 5px;
}
tr.goods-info .col-2 img {
	width: 60px;
	height:60px;
}
.goods-name {
	font-size: 13px;
	color: #111;
	padding:8px 0 0 11px;
}
.goods-name p:last-child {
	color: #bbb;
	font-size: 11px;
	margin-top: 3px;
}
tr.goods-info .goods-name + div {
	padding-right: 8px;
	padding-top: 8px;
}
.goods-price {
	font-size: 16px;
	color: #111;
}
.goods-count {
	color: #999;
	font-size: 13px;
	padding-right: 2px;
}
.order-total-cost {
	
}
.order-total-cost td {
	padding: 4px 8px 4px 0;
} 
.confirm-order td {
	padding: 5px 0;
}
.confirm-order button {
	width: 68px;
	height: 25px;
	float: right;
	margin: 3px 5px;
	font-size: 13px;
	border-radius: 3px;
	background: #fff;
	outline: none;
}
.confirm-order .positive-button {
	color: #fe8675;
	border: 1px solid #fe8675;
}
.confirm-order .negative-button {
	color: #666;
	border: 1px solid #aaa;
}
