.inlineB{ display: inline-block;}

*{padding: 0; margin: 0;}
body{ text-align: center; font-family: "黑体";}
.head{width: 100%; height: 50px; text-align: start; line-height: 50px;}
.head span{font-size: 20px; margin: 0 auto; display: inline-block; margin-left: 24%;}
.main{ width: 100%; background-color: #fafafa;}
.cRow{ width: 100%; height: 50px; line-height: 50px; background-color: #FFFFFF; border:1px solid #eeeeee; margin-top:10px;}
.icon{ font-size: 30px; display: inline-block; line-height: 100%; width: 12%; text-align: start;}
.line{display: inline-block; width:2px; height: 60%; background-color: #aaaaaa;  vertical-align: middle;}
.input{ width: 50%; height: 60%; vertical-align: middle; line-height: 30px; border: 0; font-size: 17px;}
#cCheck{ width: 27%; height: 60%; vertical-align: middle; line-height: 18px;}
.input-img{ width: 56%;}
.input-2{ width: 78%;}
.checkImg{ width:30%; border: 1px solid #aaaaaa; display: inline-block;}
.cMargin{ width: 5%; display: inline-block; background-color: #fafafa; height: 100%; vertical-align: middle;}
.btn{ border-radius: 3px; background-color: #ff573a; color: white;}
#main-submit{ height: 70%; line-height: 24px; width: 100%; font-size: 17px; letter-spacing: 5px;}
.glyphicon{ vertical-align: middle;}

/*newaddress*/
.ADhead div{ display: inline-block; height: 30px; line-height: 30px;}
.hMain{ font-size: 20px;}
.star{ width: 18%; display: inline-block; font-size: 13px; text-align: start;}
.hMain{ width: 58%;}
.save{ width: 18%; color: #fc8d7a;}
.NAmain{ padding-top: 20px; background-color: #fafafa;}
.NAmain input{width: 75%; height: 30px; line-height: 30px; margin-top: 6px; border: 0; font-size: 15px;}
.ADrow{ height: 40px; line-height: 30px; background-color: white;}
input.innerAD{ width: 71%;} 


/*address*/
.Ahead{ font-size: 20px;height: 30px; line-height: 30px;}
.Aicon{width: 30%; display: inline-block; text-align: start;}
.Atitle{ width: 65%; display: inline-block; text-align: start;}
.Amain{ background-color: #fafafa;}
.Amain .cRow{position: relative; height: 40px; line-height: 40px; margin-top: 20px;}
.Amain span{ display: inline-block;}
.Amain .round{ border:1px solid #fed1cb; border-radius: 15px; width: 30px; height: 30px; position: absolute; left: 10px; top: 5px;}
.Amain .plus{position: absolute; font-size: 36px; left: 16px; top: 0px; color: #fed1cb;}
.Amain .tonewA{ position: absolute; left: 60px; color: #fed1cb; font-size: 17px;}
.userT{ width: 85%; line-height: 15px; text-align: start; margin-top: 5px;}
.userT span{ display: inline-block; padding: 0;}
.userA{ width: 5%; vertical-align: 10px;}

