.ri{
	float: right;
}
.bo{
	margin-top: 15px;
}
.register-head{
	height: 43px;
	padding: 13px 10px 0 10px;
	text-align: center;
	color: #333;
	font-size: 18px;
	font-family: "黑体";
	border-bottom: 1px solid #eee;
}
.register-head .glyphicon{
	font-size: 20px;
	
}

/*表单部分*/
.register-info-input,
.register-info-input-short{
	width: 100%;
	height: 40px;
	padding: 0 16px;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.register-info-input-short .glyphicon,
.register-info-input .glyphicon{
	padding-right: 10px;
	color: #24dfc2;
	font-size: 17px;
	text-align: right;
	top: 5px;
}
.register-info-input-short .spliter,
.register-info-input .spliter{
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	border-left-color: #ccc;
}

.register-info-input input{
	height: 38px;
	padding-left: 10px;
	width: 70%;
	font-size: 14px;
	font-family: "黑体";
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	border: none;
}
.register-info-submit-btn{
	background-color: #FF573A;
	color: white;
	width: 88%;
	margin:10px auto;
	display: block;
	font-size: 20px;
	font-family: "黑体";
}


.register-info-input-short  input[type="text"]{
	height: 38px;
	padding-left: 10px;
	width: 50%;
	font-size: 14px;
	font-family: "黑体";
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	border: none;
}
.verify-code{
	font-size: 12px;
	width: 29%;
	background-color: #FF573A;
	color: white;
	height: 80%;
	margin-bottom: 3px;
	font-family: "黑体";
}


/*=================确认订单=================*/
.orderconfirm-head{
	height: 43px;
	padding: 13px 10px 0 10px;
	text-align: center;
	color: #333;
	font-size: 18px;
	font-family: "黑体";
	border-bottom: 1px solid #eee;
	background-color: white;
}

.consumer-info{
	width: 100%;
	height: 40px;
	padding: 0 16px;
/*	margin-top: 10px;*/
	background-color: white;

}
.consumer-info .glyphicon{
	display: inline-block;
	padding-right: 10px;
	color: #333333;
	font-size: 17px;
	text-align: right;
	width: 10%;
/*	top: 12px;*/
}
.consumer-info .consumer-name{
	display: inline-block;
	margin-top: 11px;
	font-family: "黑体";
	font-size: 20px;
	width: 25%;
	color: #333;
}
.consumer-info .consumer-phone{
/*	display: inline-block;
	margin-top: 11px;*/
	font-family: "黑体";
	font-size: 19px;
	width: 60%;
	color: #222;
}
.consumer-info .consumer-rightarrow{
	font-family: "黑体";
	font-size: 20px;
	width: 5%;
	margin-left: 40px;
	font-weight: bold;
}


/*add*/
.consumer-info-add{
	width: 100%;
	height: 40px;
	padding: 0 16px;
/*	margin-top: 10px;*/
	border-bottom: 1px solid #eee;
	background-color: white;
}
.consumer-info-add .consumer-address{
	display: inline-block;
	font-family: "黑体";
	width: 80%;
	margin-top: 3px;
	height: 35px;
}
.consumer-info-add .glyphicon {
	display: inline-block;
	padding-right: 10px;
	color: #333333;
	font-size: 17px;
	text-align: right;
	width: 10%;
	top: -6px;
}

/*待购商品*/
.orderconfirm-goodsdetail{
	width: 100%;
	height: 120px;
	padding: 0 10px;
	margin-top: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.orderconfirm-goodsimg {
	overflow: hidden;
	width: 30%;
	height: 100px;
	margin: 10px 10px 10px 0;
	float: left;
}
.orderconfirm-goodsimg img {
	width: 90px;
	height: 90px;
	height: auto;
}
.orderconfirm-goods-txt .goods-txt-name{
	font-family: "黑体";
	color: #333;
	/*font-weight: bold;*/
	font-size: 15px;
}
.orderconfirm-goods-txt .goods-txt-intro{
	font-family: "幼圆";
	color: #C1C1C1;
	font-size: 12px;
	margin-top: 15px;
}

.orderconfirm-goods-txt {
	width: 61%;
	height: 100px;
	margin: 10px 10px 10px 0;
/*	background-color: pink;*/
	float: left
}
.orderconfirm-goods-txt .orderconfirm-price{
	color: #FE6045;
	font-size: 18px;
}
.orderconfirm-goods-txt .orgin-price{
	color: #AEAEAE;
	font-size: 12px;
	text-decoration: line-through;
	display: inline-block;
}
#order-goods-count {
	margin-left: 8px;
}
a.sub-goods,
a.add-goods {
	width: 21px;
	height: 21px;
	border: 1px solid #aaa;
	/* border-radius: 4px; */
	display: inline-block;
	color: #24dfc2;
	text-align: center;
	font-size: 16px;
	float: left;
	text-decoration: none;
}
a.sub-goods {
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
	border-right: none;
}
a.add-goods {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-left: none;
}
input.goods-count {
	width: 26px;
	height: 21px;
	color: #aaa;
	float: left;
	text-align: center;
	font-size: 10px;
	outline: none;
	background: #fff;
	border: 1px solid #aaa;
}
.orderconfirm-goods-txt span.block .goods-count {
	color: #F76C3A;
}

/*到达时间*/
.orderconfirm-arrivetime{
	height: 40px;
	padding: 0 16px;
	margin-top: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.orderconfirm-arrivetime span{
	margin-top: 10px;
	font-family: "黑体";
	font-size: 16px;
}
/*支付方式*/
.payment-orderconfirm{
	padding: 0 16px;
	height: 90px;
	margin-top: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.payment-orderconfirm .payment-method-oc{
	margin-top: 10px;
	font-family: "黑体";
	font-size: 16px;
}
.payment-orderconfirm img{
	width: 16px;
	height: 16px;
}
/*留言*/
.orderconfirm-message{
/*	padding: 0 16px;*/
/*	height: 70px;*/
	margin-top: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.orderconfirm-message textarea{
	border: none;
	outline: none;
	width: 100%;
	padding: 3px 8px;
}
/*总金额*/
.orderconfirm-totalamount{
	height: 20px;
	padding: 0 16px;
	margin-top: 10px;
	text-align: center;
	color: #FE6045;
	font-size: 15px;
/*	background-color: white;*/
/*	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;*/
}
.orderconfirm-totalamount .orgin-price{
	color: #333333;
	font-size: 15px;
	text-decoration: line-through;
	display: inline-block;
}
/*结算按钮*/
.orderconfirm-btn-pay{
	padding: 0 16px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 210px;
}
.orderconfirm-btn-pay .register-info-submit-btn{
	width: 100%;
/*	margin-top: 10px 0;*/
}

/*===============商品分类goodsclassify==============*/
.goodsclassify-head{
	height: 43px;
	padding: 13px 10px 0 10px;
	text-align: center;
	color: #333;
	font-size: 18px;
	font-family: "黑体";
	border-bottom: 1px solid #eee;
	background-color: white;
}
.goodsclassify-header{
	padding-top: 13px;
		height: 35px;
	border-bottom: solid 1px #EEE;
	font-size: 15px;
	background-color: white;
}
.goodsclassify-active{
	border-bottom: solid 3px #F7492E;
	color: #F7492E;
}
.goodsclassify-header a{
	width: 6%;
/*	display: inline-block;*/
	float: left;
	text-align: center;
	text-decoration: none;
}
.goodsclassify-header ul{
	overflow: hidden;
	float: left;
	width: 88%;
	background-color: white;
}
.goodsclassify-header li{
	left: 0;
	width: 25%;
	float: left;
	text-align: center;
	font-family: "微软雅黑";
}
.goodsclassify-goodsdetail{
	width: 100%;
	height: 120px;
	padding: 10px;
	background-color: white;
	border-bottom: 1px solid #eee;
}
.goodsclassify-goodsimg{
	overflow: hidden;
	width: 100px;
	height: 100px;
/*	margin: 0 10px 0 0;*/
	float: left;
}
.goodsclassify-goods-txt{
	width: 60%;
	height: 100px;
	float: right
}
.goodsclassify-goods-txt .goods-txt-name{
	font-family: "微软雅黑";
	color: #333;
	font-weight: bold;
	font-size: 13px;
}
.goodsclassify-goods-txt .goods-txt-intro{
	font-family: "幼圆";
	color: #C1C1C1;
	font-size: 12px;
}
.goodsclassify-goods-txt .goodsclassify-price{
	color: #FE6045;
	font-size: 18px;
}
.goodsclassify-goods-txt .orgin-price{
	color: #AEAEAE;
	font-size: 12px;
	text-decoration: line-through;
	display: inline-block;
}
.goodsclassify-sales{
	color: #9F9F9F;
}
.goodsclassify-goodsdetail-empty{
	width: 100%;
	height: 120px;
	padding: 0 16px;
/*	margin-top: 10px;*/
	background-color:#FAFAFA;
}
