.inlineB{ display: inline-block;}
.special-bgcolor{ background-color: #FAFAFA;}
.cRow{ width: 100%; height: 50px;line-height: 50px; background-color: #FFFFFF; margin-top:10px;position: relative;}
.rown{ width: 100%; background-color: #FFFFFF; position: relative;}
.cnRow{ padding: 10px 0;}
div.nrow{ height: auto;}
.one{ width: 9%;}
.two{width: 19%;}
.three{ width: 29%;}
.four{ width: 39%;}
.six{ width: 57%;}
.seven{ width: 67%;}
.eight{ width: 77%;}
.nine{ width: 87%;}
.txt-color{color: #DBDBDB;}
.zero{ margin-top: 0;}
.padding-5{ padding: 5px 0;}
.txtstart{ text-align: start;}
.txtend{ text-align: end;}
.thingMargin{ margin-left: 5px;}
textarea{ width: 100%; height: 50px; border: 1px solid #F9F9F9; }
.special-button{ background-color: transparent; color: #FD9E8C; padding: 0 10px; border: 1px solid #FFBEB2; border-radius: 3px;}

.thingsubmit div{width: 98%;border-radius: 4px; background-color: #ff573a; margin: 0 auto; height: 30px; line-height: 30px;}
.thingsubmit span.glyphicon{font-size: 17px; color: white; margin-right: 22px;}

*{padding: 0; margin: 0;}
body{ text-align: center; font-family: "黑体";}
.head{width: 100%; height: 50px; text-align: start; line-height: 50px;}
.head span{font-size: 20px; margin: 0 auto; display: inline-block; margin-left: 24%;}
.main{ width: 100%; background-color: #fafafa;}
.icon{ font-size: 30px; display: inline-block; line-height: 100%; width: 12%; text-align: start;}
.line{display: inline-block; width:2px; height: 60%; background-color: #aaaaaa;  vertical-align: middle;}
.input{ width: 50%; height: 60%; vertical-align: middle; line-height: 30px; border: 0; font-size: 15px;}
#cCheck{ width: 27%; height: 60%; vertical-align: middle; line-height: 18px;}
.input-img{ width: 56%;}
.input-2{ width: 78%;}
.checkImg{ width:30%;  display: inline-block;}
.checkImg img{ width: 101px; height: 48px;}
.cMargin{ width: 5%; display: inline-block; background-color: #fafafa; height: 100%; vertical-align: middle;}
.btn{ border-radius: 3px; background-color: #ff573a; color: white;}
#main-submit{ height: 70%; line-height: 24px; width: 100%; font-size: 17px; letter-spacing: 5px;}
.glyphicon{ vertical-align: middle;}

/*newaddress*/
.ADhead div{ display: inline-block; height: 30px; line-height: 30px;}
.hMain{ font-size: 20px;}
.star{ width: 18%; display: inline-block; font-size: 13px; text-align: start;}
.hMain{ width: 58%;}
.save{ width: 18%; color: #fc8d7a;}
.save input{ border: 0; background-color: transparent; position: absolute; top: 0; right: 10px; font-size: 18px;}
.NAmain{ padding-top: 2px; background-color: #fafafa;}
.NAmain input{width: 75%; height: 30px; line-height: 30px; margin-top: 6px; border: 0; font-size: 15px;}
.ADrow{ height: 40px; line-height: 30px; background-color: white;}
input.innerAD{ width: 71%;} 


/*address*/
.Ahead{ height: 43px; line-height: 43px; position: relative; text-align: center; font-size: 22px;}
.Aicon{position: absolute; top: 50%; left: 10px; margin-top: -11px;}
.Atitle{ width: 100%; display: inline-block; font-size: 18px;}
.Amain{ background-color: #fafafa;}
.Amain span{ display: inline-block;}
.Amain .round{ border:1px solid #fed1cb; border-radius: 15px; width: 30px; height: 30px; position: absolute; left: 10px; top: 5px;}
.Amain .plus{position: absolute; font-size: 36px; left: 16px; top: -5px; color: #fed1cb;}
.Amain .tonewA{ position: absolute; left: 60px; color: #fed1cb; font-size: 17px; top: -4px;}
.userT{ width: 90%; line-height: 15px; text-align: start; margin-top: 5px;}
.userT span{ display: inline-block; padding: 0;}
.userA{ width: 5%; vertical-align: 10px;}

/*thing*/
.specialicon{ padding: 3px; border-radius: 3px; color: white; margin-left: 10px;}

.Tcarousel img{ width: 100%; height: auto;}
.Tcarousel .left{ text-align-last: center;}
.thingMain .cRow{ line-height: 20px; height: auto;}
.thingMain .cRow div{ display: inline-block;}
.thingMain .thingLeft{ width: 65%; text-align: start;}
.thingMain .thingRight{ width: 29%; text-align: end;}
.gradeActive{ color: #fda398;}
.information{width: 100%; padding: 5px 0;}
.information .inforleft{ width: 62%;}
.inforleft img{ width: 15%;}
.information .inforright{ width: 35%; line-height: 10px;}
.special-color{color: #cecece;}
.special-color2{color: #7A7A7A;}
.thingsubmit input{width: 70%; border: 0; background-color: transparent; line-height: 30px; color: white; letter-spacing: 5px; font-size: 13px;}

.special-top{vertical-align: -2px;}

/*cate*/
.Hauto{ height: auto;}
.cateimg1 img{ width: 100%; height: 100%;}
.cateMain1 img{ width:80px; height: 80px; border: 2px solid white; position: absolute; left: 10px; top: -50px;}
.cateT{ font-size: 17px; text-align: start; padding: 5px 5px;}
.cateC span{ display: inline-block; padding: 0 5px; border: 1px solid #aaaaaa; margin-left: 5px; float: left; margin-top: 5px; border-radius: 3px;}
.rect{ width: 27px; height: 27px; font-size: 20px; border: 1px solid #AAAAAA; line-height: 27px;}


/*comment*/
.comment-img{ width: 60px;height: 60px;}
#commenttext{  border: 1px solid #E4E4E4;}

/*aboutorder*/
.special-icon{ font-size: 20px;}
.font-15{ font-size: 15px;}
.font-17{ font-size: 17px;}


.row-check{background-color:#FFEBEB; color:#FF9989; font-size: 15px;}
.color24dfc2{background-color: #24dfc2;}
.colorwhite{ color: white;}
.font27{ font-size: 27px;}
.textmargin{ margin-top: 7px; margin-left: 5px;}
.specialrow{ overflow: hidden;}
.specialrow span{ float: left; margin-left: 15px; margin-top: -5px;}
.specialrow div{ float: right; margin-right: 13px;}
.specialrow input{background-color: white; margin-left: -7px; vertical-align: 1px; text-align: center;}
.specialrow a{ border-radius: 3px;}
.specialrow .lefta{ margin-left: -7px;}

