<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style_li.css"/>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>

		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="cHeader" class="container cContainer">
			<div class="row cHeight">
				<div class="col-xs-2 cStar">
					&lt;
				</div>
				<div class="col-xs-8">
					<span>修改密码</span>
				</div>
				<div class="col-xs-2"></div>
			</div>
			<div class="row cMain">
				<div class="row marginT  cHeight">
					<div class="col-xs-2">
						<span class="glyphicon glyphicon-phone text-special  cIcon"></span>
					</div>
					<div class="col-xs-1">
						<span class="cLine  cIcon"></span>
					</div>
					<div class="col-xs-6 cStar">
						<input type="text" id="cPhone" placeholder="手机号" />
					</div>
					<div class="col-xs-3">
						<input type="button" id="cButton" value="获取验证码"  class="btn"/>
					</div>
				</div>
				<div class="row marginT  cHeight">
					<div class="col-xs-4">
						<div class="cCheckImg">
							
						</div>
					</div>
					<div class="col-xs-1 bgcolor"></div>
					<div class="col-xs-7  cStar">
						 <input type="text" id="cCheck" placeholder="请输入左侧验证码" />
					</div>
				</div>
				<div class="row marginT  cHeight">
					<div class="col-xs-2">
						<span class="glyphicon glyphicon-th-large text-special cIcon"></span>
					</div>
					<div class="col-xs-1">
						<span class="cLine   cIcon"></span>
					</div>
					<div class="col-xs-9 cStar">
						<input type="text" id="cPhone" placeholder="手机号"/>
					</div>
				</div>
				<div class="row marginT  cHeight">
					<div class="col-xs-2">
						<span class="glyphicon glyphicon-lock text-special cIcon"></span>
					</div>
					<div class="col-xs-1">
						<span class="cLine   cIcon"></span>
					</div>
					<div class="col-xs-9 cStar">
						<input type="text" id="cPhone" placeholder="手机号" />
					</div>
				</div>
				<div class="row marginT  cHeight">
					<div class="col-xs-2">
						<span class="glyphicon glyphicon-lock text-special cIcon"></span>
					</div>
					<div class="col-xs-1">
						<span class="cLine   cIcon"></span>
					</div>
					<div class="col-xs-9 cStar">
						<input type="text" id="cPhone" placeholder="手机号"/>
					</div>
				</div>
				<div class="row  cHeight">
					<div class="col-xs-12">
						<input type="button" id="cSubmit" value="提交" class="btn"/>
					</div>
				</div>
			</div>
			
		</div>
		<include file='App/Home/View/Common/commonnav.html'/>
		
	</body>
</html>
