<!doctype html>
<html lang="en">
	<head>
		<title>For优 主页</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />

	</head>
	<body>
		<div id="ordermanage-head">
			<div class="head-top background-special">
				<span class="fl history-back glyphicon glyphicon-circle-arrow-left"></span>
				<span class="head-title">我的订单</span>
			</div>
			<div class="nav-top">
				<ul class="clearfix" data-active="1">
					<li><a href="">代付款</a></li>
					<li><a href="">待确认</a></li>
					<li><a href="">配送中</a></li>
					<li><a href="">待评价</a></li>
					<li><a href="">已完成</a></li>
				</ul>
			</div>
		</div>
		<div id="ordermanage-body" class="w">
			<ul>
				<li>
					<table class="w">
						<tbody>
							<tr class="goods-info-top">
								<td>
									<span class="fl">2112-5-10 4:40</span>
									<span class="fr">订单待付款</span>
								</td>
							</tr>
							<tr class="goods-info">
								<td class="clearfix">
									<div class="col-2 fl">
										<img src="__PUBLIC__/img/goods3.png" alt="">
									</div>
									<div class="col-6 fl goods-name">
										<p>
											Homee LED 百变耳机台灯创意可以做耳机的台灯
										</p>
										<p>简直就是无赖</p>
									</div>
									<div class="col-2 fl">
										<p class="goods-price">￥79</p>
										<p class="goods-count">×1</p>
									</div>
								</td>
							</tr>
							<tr class="goods-info">
								<td class="clearfix">
									<div class="col-2 fl">
										<img src="__PUBLIC__/img/goods2.png" alt="">
									</div>
									<div class="col-6 fl goods-name">
										<p>
											Homee LED 百变耳机台灯创意可以做耳机的台灯
										</p>
										<p>简直就是无赖</p>
									</div>
									<div class="col-2 fl">
										<p class="goods-price">￥79</p>
										<p class="goods-count">×1</p>
									</div>
								</td>
							</tr>
							<tr class="goods-info">
								<td class="clearfix">
									<div class="col-2 fl">
										<img src="__PUBLIC__/img/goods1.png" alt="">
									</div>
									<div class="col-6 fl goods-name">
										<p>
											Homee LED 百变耳机台灯创意可以做耳机的台灯
										</p>
										<p>简直就是无赖</p>
									</div>
									<div class="col-2 fl">
										<p class="goods-price">￥79</p>
										<p class="goods-count">×1</p>
									</div>
								</td>
							</tr>
							<tr class="order-total-cost">
								<td>
									<span class="fr goods-price">￥39</span>
									<span class="fr text-middle">共3件商品 实付：</span>
								</td>
							</tr>
							<tr class="confirm-order">
								<td>	
									<button class="negative-button">
										取消订单
									</button>
									<button class="positive-button">
										立即付款
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
				<li>
					<table class="w">
						<tbody>
							<tr class="goods-info-top">
								<td>
									<span class="fl">2112-5-10 4:40</span>
									<span class="fr">订单确认中</span>
								</td>
							</tr>
							<tr class="goods-info">
								<td class="clearfix">
									<div class="col-2 fl">
										<img src="__PUBLIC__/img/goods2.png" alt="">
									</div>
									<div class="col-6 fl goods-name">
										<p>
											Homee LED 百变耳机台灯创意可以做耳机的台灯
										</p>
										<p>简直就是无赖</p>
									</div>
									<div class="col-2 fl">
										<p class="goods-price">￥79</p>
										<p class="goods-count">×1</p>
									</div>
								</td>
							</tr>
							<tr class="order-total-cost">
								<td>
									<span class="fr goods-price">￥39</span>
									<span class="fr text-middle">共3件商品 实付：</span>
								</td>
							</tr>
							<tr class="confirm-order">
								<td>	
									<button class="negative-button">
										取消订单
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
				<li>
					<table class="w">
						<tbody>
							<tr class="goods-info-top">
								<td>
									<span class="fl">2112-5-10 4:40</span>
									<span class="fr">订单配送中</span>
								</td>
							</tr>
							<tr class="goods-info">
								<td class="clearfix">
									<div class="col-2 fl">
										<img src="__PUBLIC__/img/goods2.png" alt="">
									</div>
									<div class="col-6 fl goods-name">
										<p>
											Homee LED 百变耳机台灯创意可以做耳机的台灯
										</p>
										<p>简直就是无赖</p>
									</div>
									<div class="col-2 fl">
										<p class="goods-price">￥79</p>
										<p class="goods-count">×1</p>
									</div>
								</td>
							</tr>
							<tr class="order-total-cost">
								<td>
									<span class="fr goods-price">￥39</span>
									<span class="fr text-middle">共3件商品 实付：</span>
								</td>
							</tr>
							<tr class="confirm-order">
								<td>	
									<button class="negative-button">
										确认收货
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
				<li>
					<table class="w">
						<tbody>
							<tr class="goods-info-top">
								<td>
									<span class="fl">2112-5-10 4:40</span>
									<span class="fr">订单配送中</span>
								</td>
							</tr>
							<tr class="goods-info">
								<td class="clearfix">
									<div class="col-2 fl">
										<img src="__PUBLIC__/img/goods2.png" alt="">
									</div>
									<div class="col-6 fl goods-name">
										<p>
											Homee LED 百变耳机台灯创意可以做耳机的台灯
										</p>
										<p>简直就是无赖</p>
									</div>
									<div class="col-2 fl">
										<p class="goods-price">￥79</p>
										<p class="goods-count">×1</p>
									</div>
								</td>
							</tr>
							<tr class="order-total-cost">
								<td>
									<span class="fr goods-price">￥39</span>
									<span class="fr text-middle">共3件商品 实付：</span>
								</td>
							</tr>
							<tr class="confirm-order">
								<td>	
									<button class="positive-button">
										确认收货
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
				<li>
					<table class="w">
						<tbody>
							<tr class="goods-info-top">
								<td>
									<span class="fl">2112-5-10 4:40</span>
									<span class="fr">交易成功</span>
								</td>
							</tr>
							<tr class="goods-info">
								<td class="clearfix">
									<div class="col-2 fl">
										<img src="__PUBLIC__/img/goods2.png" alt="">
									</div>
									<div class="col-6 fl goods-name">
										<p>
											Homee LED 百变耳机台灯创意可以做耳机的台灯
										</p>
										<p>简直就是无赖</p>
									</div>
									<div class="col-2 fl">
										<p class="goods-price">￥79</p>
										<p class="goods-count">×1</p>
									</div>
								</td>
							</tr>
							<tr class="order-total-cost">
								<td>
									<span class="fr goods-price">￥39</span>
									<span class="fr text-middle">共3件商品 实付：</span>
								</td>
							</tr>
							<tr class="confirm-order">
								<td>	
									<button class="positive-button">
										删除订单
									</button>
									<button class="negative-button">
										删除订单
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
				<li>
					<table class="w">
						<tbody>
							<tr class="goods-info-top">
								<td>
									<span class="fl">2112-5-10 4:40</span>
									<span class="fr">交易完成</span>
								</td>
							</tr>
							<tr class="goods-info">
								<td class="clearfix">
									<div class="col-2 fl">
										<img src="__PUBLIC__/img/goods2.png" alt="">
									</div>
									<div class="col-6 fl goods-name">
										<p>
											Homee LED 百变耳机台灯创意可以做耳机的台灯
										</p>
										<p>简直就是无赖</p>
									</div>
									<div class="col-2 fl">
										<p class="goods-price">￥79</p>
										<p class="goods-count">×1</p>
									</div>
								</td>
							</tr>
							<tr class="order-total-cost">
								<td>
									<span class="fr goods-price">￥39</span>
									<span class="fr text-middle">共3件商品 实付：</span>
								</td>
							</tr>
							<tr class="confirm-order">
								<td>	
									<button class="negative-button">
										删除订单
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
			</ul>
		</div>

		<!-- <include file='App/Home/View/Common/commonnav3.html'/> -->

		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/script/ordermanage.js"></script>
		<script src="__PUBLIC__/script/common.js"></script>
	</body>
</html>