<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style_li.css"/>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="Ahead">
			<div class="Aicon">
				&lt;
			</div>
			<span class="Atitle">商品详情</span>
		</div>
		<div class="cateMain special-bgcolor">
			<div class="cateimg1" style=" position: relative;">
				<div style="position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(178,178,178,.7);"></div>
				<img src="__PUBLIC__/img/hotsale.png"/>
			</div>
			<div class="cRow cateMain1 cnRow" style="position: relative; margin-top: 0;">
				<img src="__PUBLIC__/img/hotsale.png"/>
				<span class="gradeActive" style="font-size: 17px; margin-left: 60px;">
				<span>￥：</span>
				<span>5.5</span>
				</span>
				<span><del>5.5</del></span>
				<span class="gradeActive">(省<span>5</span>元)</span>
			</div>
			<div class="cRow Hauto cnRow" style="line-height:20px; overflow: hidden;">
				<div class="cateT thingMargin">
					产地
				</div>
				<div class="cateC">
					<span>s苏州</span>
					<span>s苏州</span>
					<span>s苏州</span>
					<span>s苏州</span>
				</div>
			</div>
			<div class="cRow Hauto cnRow" style="line-height:20px; overflow: hidden; ">
				<div class="cateT  thingMargin">
					颜色
				</div>
				<div class="cateC">
					<span>s苏州</span>
					<span>s苏州</span>
					<span>s苏州</span>
					<span>s苏州</span>
				</div>
			</div>
			<div class="cRow cnRow">
				<div class="inlineB" style="width: 50%; text-align: start;">购买数量</div>
				<div class="inlineB" style="position: relative; line-height: 20px; width: 40%; text-align: end;">
					<a class="inlineB rect text-special" style="text-align: center;">-</a>
					<!--<a class="inlineB rect" style="text-align: center;">1</a>-->
					<input type="text" id="" value="" class="rect " style="vertical-align: 2px; margin-left: -7px; padding: 0;"/>
					<a class="inlineB rect text-special special-left" style="text-align: center;">+</a>
				</div>
			</div>
			<div class="cRow thingsubmit">
				<div ">
					<span class="glyphicon glyphicon-shopping-cart" ></span>
					<span class="line" style="background-color: white;"></span>
					<input type="button" id="" value="立即购买" />
				</div>
			</div>
		</div>
	</body>
</html>
