<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style_li.css"/>

	</head>
	<body>
		<div class="Ahead">
			<div class="Aicon">
				&lt;
			</div>
			<span class="Atitle">订单详情</span>
		</div>
		<div class="special-bgcolor">
			<div class="rown cnRow nrow" style="background-color: #FF573A; color: white;">
				<div class="inlineB one txtstart thingMargin" style="vertical-align: top;">
					<span class="glyphicon glyphicon-list-alt special-icon"></span>
				</div>
				<div class="nine inlineB txtstart">
					<p style="font-size: 17px;">交易成功</p>
					<span>订单号：</span><span>398928381</span><br /><span>订单金额：￥</span><span>78</span><br /><span>运费：￥</span><span>0.00</span>
				</div>
			</div>
			<div class="rown cnRow nrow " style=" margin-top: 0;">
				<div class="inlineB one txtstart thingMargin" style="vertical-align: top;">
					<span class="glyphicon glyphicon-user special-icon"></span>
				</div>
				<div class="nine inlineB txtstart">
					<div>
						<div class="six txtstart inlineB" style="font-size: 15px;">
							<span>收货人：</span>
							<span>乌龙茶多酚</span>
						</div>
						<div class="four txtend inlineB" style="font-size: 15px;">
							12345678909
						</div>
						<div class=" txtstart" style="width: 100%; color: #7C7C7C;">
							考虑恢复伤口恢复快速度发货快上课费多少分开始的恢复上课
						</div>
					</div>
				</div>
				<div class="rown  nrow txtstart" style="margin-top: 20px;">
					<span class="thingMargin">2015-9-09</span>
				</div>
				<div class="rown padding-5 nrow zero">
					<div class="inlineB" style="vertical-align: top;">
						<img src="__PUBLIC__/img/hotsale.png" class="comment-img"/>
					</div>
					<div class="inlineB six txtstart">
						<span>糖果色家具风格</span><br />
						<span class="txt-color">啦啦啦啦啦啦啦啦啦</span>
					</div>
					<div class="inlineB two txtend" style="vertical-align: top;">
						<span class="font-15"><span>￥</span><span>79</span></span><br />
						<span>&Chi;</span><span>1</span>
					</div>
				</div>
				<div class="rown padding-5 nrow zero">
					<div class="inlineB" style="vertical-align: top;">
						<img src="__PUBLIC__/img/hotsale.png" class="comment-img"/>
					</div>
					<div class="inlineB six txtstart">
						<span>糖果色家具风合适的客户快速的发技术开发建设地方格</span><br />
						<span class="txt-color">啦啦啦啦啦啦啦啦啦</span>
					</div>
					<div class="inlineB two txtend" style="vertical-align: top;">
						<span class="font-15"><span>￥</span><span>79</span></span><br />
						<span>&Chi;</span><span>1</span>
					</div>
				</div>
				<div class="rown padding-5 nrow zero txtend">
					<span>共<span>2</span>件商品  </span><span>实付:</span><span class="font-17">￥</span><span class="font-17" style="margin-right: 5px;">158</span>
				</div>
				<div class="rown padding-5 nrow zero txtend">
					<input type="button" id="" value="删除订单" class="special-button" style="border-color: #D1D1D1; color: #797979;"/>
					<input type="button" id="" value="评价订单" class="special-button" style="margin-right: 5px; border-color: #D1D1D1; color: #797979;"/>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
