<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style_li.css"/>
		
	</head>
	<body>
		<div class="Ahead color24dfc2">
			<div class="Aicon">
				<span class="fl history-back glyphicon glyphicon-circle-arrow-left colorwhite"></span>
			</div>
			<span class="Atitle colorwhite">评价订单</span>
		</div>
		<foreach name="goodsInfo" item="goods">
			<div class=" special-bgcolor">
				<div class="rown cnRow nrow grade-star">
					<div class="inlineB two thingMargin" style="vertical-align: top;">
						<img src="{$goods.img_url}" class="comment-img"/>
					</div>
					<div class="inlineB eight txtstart">
						<span>{$goods.name}<span ><br />￥</span><span>{$goods.price}</span></span>
						
					</div>
					<div class="">
						<div class="two inlineB text-center">
							描述相符
						</div>
						<div class="eight inlineB txtend">
							<span class="inlineB inforright">
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="specialgrade">0</span><span class="special-top">分</span>
								</span>
						</div>
					</div>
				</div>
				<div class="rown nrow">
					<textarea class="food-comment-text" name="" rows="" cols="" placeholder="写点评价吧，对其他小伙伴有很大的帮助奥" id="commenttext"></textarea>
				</div>
				<div class="rown cnRow nrow">
					<div class="inlineB three thingMargin txtstart">
						<input type="checkbox" name="" id="" value="" class="special-top is-hidden-checked" style="border-radius: 10px;"/>
						<span id="">
							匿名评价
						</span>
					</div>
					<div class="txtend seven inlineB">
						<input type="button" id="" value="发表评价" class="special-button" style="margin-right: 5px;"/>
						<input id="" class="none" value=""/>
						<input class="food-id-none none" value="{$goods.food_id}" />
						<input class="order-id-none none" value="{$goods.order_id}" />
						<input class="together-id-none none" value="{$goods.together_id}" />
					</div>
				</div>
			</div>
		</foreach>

		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/script/common.js"></script>
		<script src="__PUBLIC__/script/comment.js"></script>
	</body>
</html>
