<!DOCTYPE html>
<html>
	<head>
		<title>For优 商品分类</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />	
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style-y.css" />
		<style>
			body{
				background-color: #FAFAFA;
			}
		</style>
	</head>
	<body>
		<div class="goodsclassify-head w" id="gch">
			<span class="glyphicon glyphicon-circle-arrow-left fl history-back"></span>
			<span>分类</span>
		</div><!--register-head-->
		
		
		
		
		<div class="goodsclassify-header w">
			<a class="move moveleft">
				&lt;
			</a>
			    <div class="goodsclassify-slide">
					<ul id="classifynavi">
						<li class="goodsclassify-active">特色零食</li>
						<li>代取快递</li>
						<li>水果</li>
						<li>家政服务</li>
						<li>jzz</li>
					</ul>
				</div>
			<a class="move moveright"  >&gt;</a>
		</div>
			
		<div class="body-y">	
			<!--<div class="goodsclassify-item w">-->
			<div class="goodsclassify-goodsdetail">
				<div class="goodsclassify-goodsimg">
					<img src="__PUBLIC__/img/light-ps.png" />
				</div>
				<div class="goodsclassify-goods-txt">
					<div> <div class="goods-txt-name">HOMEE led百变耳机台灯创意可以做耳机的台灯</div>
					<div class=" goods-txt-intro">设计师原创 纯手工打造</div>
					</div>
					<div >
						<div class="fl">
							<div class="goodsclassify-price fl discount-price">￥79</div> <span class="orgin-price fl bef-price"> 原价：89</span>
						</div>
						<div class="ri">
							<div class="goodsclassify-sales">销量：1989</div>
						</div>
					</div>
				</div>
			</div>
			<!--</div>-->
			<!--<div class="goodsclassify-item w">-->
			<div class="goodsclassify-goodsdetail">
				<div class="goodsclassify-goodsimg">
					<img src="__PUBLIC__/img/light-ps.png" />
				</div>
				<div class="goodsclassify-goods-txt">
					<div> <div class="goods-txt-name">HOMEE led百变耳机台灯创意可以做耳机的台灯</div>
					<div class=" goods-txt-intro">设计师原创 纯手工打造</div>
					</div>
					<div >
						<div class="fl">
							<div class="goodsclassify-price fl discount-price">￥79</div> <span class="orgin-price fl bef-price"> 原价：89</span>
						</div>
						<div class="ri">
							<div class="goodsclassify-sales">销量：1989</div>
						</div>
					</div>
				</div>
			</div>
			<!--</div>-->
			<!--<div class="goodsclassify-item w">-->
			<div class="goodsclassify-goodsdetail">
				<div class="goodsclassify-goodsimg">
					<img src="__PUBLIC__/img/light-ps.png" />
				</div>
				<div class="goodsclassify-goods-txt">
					<div> <div class="goods-txt-name">HOMEE led百变耳机台灯创意可以做耳机的台灯</div>
					<div class=" goods-txt-intro">设计师原创 纯手工打造</div>
					</div>
					<div >
						<div class="fl">
							<div class="goodsclassify-price fl discount-price">￥79</div> <span class="orgin-price fl bef-price"> 原价：89</span>
						</div>
						<div class="ri">
							<div class="goodsclassify-sales">销量：1989</div>
						</div>
					</div>
				</div>
			</div>
			<!--</div>-->
			<!--<div class="goodsclassify-item w">-->
			<div class="goodsclassify-goodsdetail">
				<div class="goodsclassify-goodsimg">
					<img src="__PUBLIC__/img/light-ps.png" />
				</div>
				<div class="goodsclassify-goods-txt">
					<div> <div class="goods-txt-name">HOMEE led百变耳机台灯创意可以做耳机的台灯</div>
					<div class=" goods-txt-intro">设计师原创 纯手工打造</div>
					</div>
					<div >
						<div class="fl">
							<div class="goodsclassify-price fl discount-price">￥79</div> <span class="orgin-price fl bef-price"> 原价：89</span>
						</div>
						<div class="ri">
							<div class="goodsclassify-sales">销量：1989</div>
						</div>
					</div>
				</div>
			</div>
			<!--</div>-->
			<!--<div class="goodsclassify-item w">-->
			<div class="goodsclassify-goodsdetail">
				<div class="goodsclassify-goodsimg">
					<img src="__PUBLIC__/img/light-ps.png" />
				</div>
				<div class="goodsclassify-goods-txt">
					<div> <div class="goods-txt-name">HOMEE led百变耳机台灯创意可以做耳机的台灯</div>
					<div class=" goods-txt-intro">设计师原创 纯手工打造</div>
					</div>
					<div >
						<div class="fl">
							<div class="goodsclassify-price fl discount-price">￥79</div> <span class="orgin-price fl bef-price"> 原价：89</span>
						</div>
						<div class="ri">
							<div class="goodsclassify-sales">销量：1989</div>
						</div>
					</div>
				</div>
			</div>
			<!--</div>-->
		</div>	
		
		<include file='App/Home/View/Common/commonnav1.html'/>
		
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/script/common.js"></script>
		<script src="__PUBLIC__/script/goodsclassify.js"></script>
	</body>
</html>
