<!DOCTYPE html>
<html lang="en">
	<head>
		<title>For优搜索</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />	
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style-y.css" />
		<style>
			body{
				background-color: #FAFAFA;
			}
		</style>
	</head>
	<body>	
		<div id="searchgoods-head">
			<div class="searchgoods-search special-bgcolor">
				<span class="left-icon-sg">&lt;</span>
				<div>
					<span class="glyphicon glyphicon-search"></span>
					<input type="text" placeholder="搜索 ">	
				</div>
				<div id="search-history-container">
					<div id="search-history-list">
						<ul>
							<li class="search-history-item"><a>牛奶</a></li>
							<li class="search-history-item"><a>水果</a></li>
							<li class="search-history-item"><a>面包</a></li>
							<li class="search-history-item"><a>泡面</a></li>
							<li class="search-history-item"><a>饮料</a></li>
						</ul>
					</div>
					<div id="clear-history-list">
						<span><a>清除历史记录</a></span>
					</div>
				</div>	
			</div>
		</div>

		<div class="searchgoods-example">
			<div class="example-heading">
				热门搜索
			</div>
			<div class="example-group">
				<a class="searchgoods-example-item">西瓜</a>
				<a class="searchgoods-example-item">瓜子</a>
				<a class="searchgoods-example-item">麦当当</a>
				<a class="searchgoods-example-item">面包</a>
				<a class="searchgoods-example-item">草莓刨冰</a>
				<a class="searchgoods-example-item">红豆纷纷雪</a>
			</div>
		</div>

		<div class="searchgoods-goodsexample">
			<div class="searchgoods-goodsdetail">
				<div class="searchgoods-goodsimg">
					<img src="__PUBLIC__/img/littleclock.png" />
				</div>
				<div class="searchgoods-goods-txt">
					<div> 
						<p class="goods-txt-name">糖果色挂表 居家风格 </p>
						<p class="bo goods-txt-intro">设计师原创 纯手工打造</p>
					</div>
					<div class="bo">
						<div class="fl">
							<div class="searchgoods-price fl discount-price">
								￥79
							</div> 
							<span class="orgin-price fl bef-price"> 原价：89</span>
						</div>
						<div class="ri">
							<div class="searchgoods-sales">销量：1989</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="searchgoods-goodsdetail">
				<div class="searchgoods-goodsimg">
					<img src="__PUBLIC__/img/littleclock.png" />
				</div>
				<div class="searchgoods-goods-txt">
					<div> 
						<p class="goods-txt-name">糖果色挂表 居家风格 </p>
						<p class="bo goods-txt-intro">设计师原创 纯手工打造</p>
					</div>
					<div class="bo">
						<div class="fl">
							<div class="searchgoods-price fl discount-price">￥79</div> <span class="orgin-price fl bef-price"> 原价：89</span>
						</div>
						<div class="ri">
							<div class="searchgoods-sales">销量：1989</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="searchgoods-goodsdetail">
				<div class="searchgoods-goodsimg">
					<img src="__PUBLIC__/img/littleclock.png" />
				</div>
				<div class="searchgoods-goods-txt">
					<div> 
						<p class="goods-txt-name">糖果色挂表 居家风格 </p>
						<p class="bo goods-txt-intro">设计师原创 纯手工打造</p>
					</div>
					<div class="bo">
						<div class="fl">
							<div class="searchgoods-price fl discount-price">￥79</div> <span class="orgin-price fl bef-price"> 原价：89</span>
						</div>
						<div class="ri">
							<div class="searchgoods-sales">销量：1989</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="common-nav">
			<div class="row">
			   <div class="col-xs-4 active">
			   		<dl>
			   			<dt>
			   				<span class="glyphicon glyphicon-home"></span>
			   			</dt>
			   			<dd>首页</dd>
			   		</dl>
			   </div>
			   <div class="col-xs-4">
			   		<dl>
			   			<dt>
			   				<span class="glyphicon glyphicon-shopping-cart"></span>
			   			</dt>
			   			<dd>购物车</dd>
			   		</dl>
			   </div>
			    <div class="col-xs-4">
			   		<dl>
			   			<dt>
			   				<span class="glyphicon glyphicon-user"></span>
			   			</dt>
			   			<dd>购物车</dd>
			   		</dl>
			   </div>
			</div>
		</div>
	</body>
</html>

