<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/commonstyle.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style_li.css"/>
		<script type="text/javascript" src="__PUBLIC__/script/plugins/jquery-1.11.2.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="Ahead">
			<div class="Aicon">
				&lt;
			</div>
			<span class="Atitle">商品详情</span>
		</div>
		<div class="Tmain">
			<div class="Tcarousel">
				<div id="myCarousel" class="carousel slide">
				   <!-- 轮播（Carousel）指标 -->
				   <ol class="carousel-indicators">
				      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				      <li data-target="#myCarousel" data-slide-to="1"></li>
				      <li data-target="#myCarousel" data-slide-to="2"></li>
				   </ol>   
				   <!-- 轮播（Carousel）项目 -->
				   <div class="carousel-inner">
				      <div class="item active">
				         <img src="__PUBLIC__/img/slider1.png" alt="First slide">
				      </div>
				      <div class="item">
				         <img src="__PUBLIC__/img/slider1.png" alt="Second slide">
				      </div>
				      <div class="item">
				         <img src="__PUBLIC__/img/slider1.png" alt="Third slide">
				      </div>
				   </div>
				   <!-- 轮播（Carousel）导航 -->
				   <a class="carousel-control left" href="#myCarousel" 
				       data-slide="prev"></a>
				   <a class="carousel-control right" href="#myCarousel" 
				       data-slide="next"></a>
				</div> 
			</div>
			<div class="thingMain special-bgcolor" >
				<div class="cRow cnRow">
					<div class="thingLeft">
						<span>四川煎饼果子</span><br />
						<span>来就一口价 我只说一次</span>
					</div>
					<div class="thingRight">
						<span class="gradeActive">4.3分</span><br />
						<span>销量:</span><span>4534</span>
					</div>
				</div>
				<div class="cRow cnRow" style="text-align: start; margin-top: 0; height: 30px; line-height: 0px;">
					<span class="gradeActive" style="font-size: 17px;">
						<span class="thingMargin">￥：</span>
						<span>5.5</span>
					</span>
					<span><del>5.5</del></span>
					<span class="gradeActive">(省<span>5</span>元)</span>
					<span class="specialicon bground-special">减</span>
					<span>&or;</span>
				</div>
				<div class="cRow cnRow">
					<a href="category.html">
						<span class="inlineB userT" style="font-size: 17px;">选择分类</span>
						<span class="inlineB userA" style="vertical-align: 0px;">&gt;</span>
					</a>
				</div>
				<div class="cRow cnRow" style="text-align: start; line-height: 15px;">
					<span style="font-size: 17px;"  class="thingMargin">商品信息</span><br /><br />
					<span  class="special-color2">
						<span class="thingMargin">商品名称：</span><span>啦啦啦啦啦</span><br />
						<span class="thingMargin">产地：</span><span>啦啦啦啦啦</span><br />
						<span class="thingMargin">包装：</span><span>啦啦啦啦啦</span><br />
						<span class="thingMargin">保质期：</span><span>啦啦啦啦啦</span><br />
						<span class="thingMargin">品牌：</span><span>啦啦啦啦啦</span>
					</span>
					
				</div>
				<div class="cRow cnRow" style="text-align: start;">
					<span style="font-size: 17px;" class="thingMargin"><span>商品评价(</span><span>23</span><span>)</span></span><br />
					<div class="information thingMargin">
						<div class="w">
							<span class="inlineB inforleft">
								<img src="__PUBLIC__/img/userhead.png"/>
								<span>乌龙茶多酚</span>
								
							</span>
							<span class="inlineB inforright">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="special-top">4</span><span class="special-top">分</span>
							</span>
						</div>
						<div>
							<span>口感很好，好好好好好啊哈好的撒啊很</span>
						</div>
						<br />
						<div class="special-color">
							<span>2015-12-07</span>
							数量：<span>5</span>个
						</div>
					</div>
					<div class="information thingMargin">
						<div class="w">
							<span class="inlineB inforleft">
								<img src="__PUBLIC__/img/userhead.png"/>
								<span>乌龙茶多酚</span>
								
							</span>
							<span class="inlineB inforright">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="special-top">4</span><span class="special-top">分</span>
							</span>
						</div>
						<div>
							<span>口感很好，好好好好好啊哈好的撒啊很</span>
						</div>
						<br />
						<div class="special-color">
							<span>2015-12-07</span>
							数量：<span>5</span>个
						</div>
					</div>
					<div class="information thingMargin">
						<div class="w">
							<span class="inlineB inforleft">
								<img src="__PUBLIC__/img/userhead.png"/>
								<span>乌龙茶多酚</span>
								
							</span>
							<span class="inlineB inforright">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="special-top">4</span><span class="special-top">分</span>
							</span>
						</div>
						<div>
							<span>口感很好，好好好好好啊哈好的撒啊很</span>
						</div>
						<br />
						<div class="special-color">
							<span>2015-12-07</span>
							数量：<span>5</span>个
						</div>
					</div>
				</div>
				<div class="cRow thingsubmit">
					<div>
						<span class="glyphicon glyphicon-shopping-cart"></span>
						<span class="line" style="background-color: white;"></span>
						<input type="button" id="" value="立即购买" />
					</div>
				</div>
			</div>	
		</div>
	</body>
</html>
